* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
li {
  text-decoration: none;
  color: white;
}
p {
  text-decoration: none;
  color: white;
}

/*header*/
#header {
  background-color: #12167a;
}
#logo {
  padding-left: 70px;
}
#icons {
  list-style: none;
  float: right;
  padding: 40px;
  padding-right: 70px;
  display: flex;
}

#icons img {
  padding-right: 20px;
}

#nav {
  background-color: #ec1d2e;
  padding: 20px;
}

#nav a {
  color: white;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  padding-left: 10px;
}

#nav img {
  padding-right: 1px;
}

.search-input {
  width: 70%;
}

/*slider*/

.slide-img {
  width: 100%;
  height: 624px;
}

.slide1-text {
  color: black;
  padding-bottom: 73px;
}

.slide1-button {
  background-color: #12167a;
  color: white;
  padding: 20px;
  border: none;
}

/*homepage content*/

#homepage-content h1 {
  text-align: center;
}

#content-container {
  height: 100%;
  min-height: 100%;
  display: flex;
}

.content {
  width: 100%;
  height: 100px;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  padding: 30px;
  margin: 100px;
  background-image: url("../img/background/Rectangle%203.svg");
}

/*footer*/
#footer {
  border: none;
}

#newsletter {
  background-color: #ec1d2e;
  border-bottom: none;
  text-align: center;
  padding: 20px;
}

#newsletter h3 {
  padding-bottom: 10px;
  color: white;
}

#newsletter p {
  padding-bottom: 30px;
  color: white;
}

#email {
  padding: 10px 24px;
  width: 300px;
  border: none;
}

#suscribe {
  background-color: #12167a;
  padding: 10px 24px;
  color: white;
  border: none;
}

#links {
  background-color: #12167a;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#ul-categories {
  list-style: none;
  padding-right: 250px;
}

#ul-categories p {
  padding-bottom: 25px;
}

#ul-contact {
  list-style: none;
  flex-grow: 1;
  padding-right: 150px;
}

#ul-contact p {
  padding-bottom: 25px;
}

#copyright {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

#p-copyright {
  color: white;
}
